<% if @product.quantity > 0 %>
<p>
  <%= form_tag(add_to_cart_path) do %>
    <%= number_field_tag :quantity, nil, min: 1, placeholder: "How Many?" %>
    <%= hidden_field_tag :product_id, @product.id %>
    <%= submit_tag "Add to Cart", class: "btn btn-success" %>
  <% end %>
</p>
<% end %>
